Makefile
Makefile.in
aclocal.m4
compile
config.*
configure
/debian/files
/debian/libaccounts-glib-dev/
/debian/libaccounts-glib-doc/
/debian/libaccounts-glib0-dbg/
/debian/libaccounts-glib0.postinst.debhelper
/debian/libaccounts-glib0.postrm.debhelper
/debian/libaccounts-glib0.substvars
/debian/libaccounts-glib0/
/debian/stamp-*
/debian/tmp/
depcomp
.libs
*.o
*.lo
*.la
*.stamp
/docs/reference/html/
/docs/reference/libaccounts-glib*
/docs/reference/tmpl/
/docs/reference/xml/
gtk-doc.make
install-sh
*.pc
/libaccounts-glib/ag-marshal.c
/libaccounts-glib/ag-marshal.h
libtool
ltmain.sh
missing
stamp-h1
*~
